<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DotNet8</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DotNet8.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DotNet8</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CalEvents" asp-action="Index">Calendrix</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>


    @* *** TEST *** !!! *** *@
    <style>
        .create-act {
            margin-top: 0;
            padding-top: 0;
        }

        .container-lg {
            margin-top: -17px;
            padding-left: 0px;
            padding-right: 0px;
        }

        .calend td {
            min-width: 11%;
            width: 11%;
            max-width: 11%;
            padding: .1rem;
            text-overflow: clip;
        }

        .calend .aDay {
            background-color: #ebebeb;
            border: solid 1px blue;
            border-radius: 4px;
            min-height: 130px;
            height: 100%;
            margin: 0;
            padding: 0;
            width: 100%;
        }

            .calend .aDay .aDayDate {
                border: solid 2px blue;
                border-radius: 4px;
                color: blue;
                float: right;
                margin-right: -2px;
                margin-top: -2px;
                padding-left: 5px;
                padding-right: 5px;
            }

            .calend .aDay .aDayItemLine {
                background-color: lightgrey;
                float: left;
            }
    </style>
    @* *** TEST *** !!! *** *@


    <div class="container-lg">
        <main role="main" class="pb-3">


            @RenderBody()


        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - DotNet8 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>