@model IEnumerable<DotNet8.Models.CalEventVM>

<td class="day">

    <div class="number">

        <a asp-action="Create" asp-route-id="@Model?.FirstOrDefault()?.DayOfMonth">
            @Model?.FirstOrDefault()?.DayOfMonth
        </a>

    </div>

    <div>&nbsp;</div>

    @foreach (var dayItem in Model)
    {
        <div class="day-item-line">

            <a asp-action="Edit" asp-route-id="@dayItem?.Id">

                @if (dayItem?.Time.Hours != 0)
                {
                    <span class="day-item-time">
                        @dayItem?.Time
                    </span>
                    <span> - </span>
                }
                @dayItem?.Description

            </a>

        </div>
    }
</td>