@model IEnumerable<DotNet8.Models.CalEventVM>

@foreach (var item in Model)
{
    <div>
        <span style="background-color:azure;float:right">
            @item?.DayOfMonth
        </span>

        <span style="float:left">
            @item?.Time
            @item?.Description
        </span>

        @if (item?.Id != 0)
        {
            <a asp-action="Edit" asp-route-id="@item?.Id">
                &copy;
            </a>
        }
        else
        {
            <a asp-action="Create" asp-route-id="@item?.DayOfMonth">
                <b>+</b>
            </a>
        }
    </div>
}
