@using DotNet8.Utils
@model IEnumerable<DotNet8.Models.CalEventVM>
@{
    ViewData["Title"] = "Index";
    var daysCount = 0;
    var daysInMonth = Utils.GetMaxDayOfTheMonth(DateTime.Now);
}

<div class="container-fluid">
    <div class="row">

        <main class="col-md-9">
            <table class="calendar">
                <thead>
                    <tr>
                        <th>Mon</th>
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thu</th>
                        <th>Fri</th>
                        <th>Sat</th>
                        <th>Sun</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                    </tr>
                    <tr>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                    </tr>
                    <tr>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                    </tr>
                    <tr>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                    </tr>
                    <tr>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                        <td class="day"><div class="number">20</div><div class="event"><ul><li>14:00 ENG</li></ul></div></td>
                    </tr>
                </tbody>
            </table>
        </main>

        @* *** SIDEBAR *** *@

        <aside class="col-md-3 sidebar">
            <ul>
                <li>Aaaaaaa</li>
                <li>Aaaaaaa</li>
                <li>Aaaaaaa</li>
                <li>Aaaaaaa</li>
                <li>Aaaaaaa</li>
            </ul>
        </aside>

    </div>
</div>
