@using DotNet8.Utils
@model IEnumerable<DotNet8.Models.CalEventVM>
@{
    ViewData["Title"] = "Index";
    var daysCount = 0;
    var daysInMonth = Utils.GetMaxDayOfTheMonth(DateTime.Now);
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<h2>ABCDE</h2>

<style>
    .calend td {
        border: solid 1px grey;
        padding: 1rem;
        min-width: 13%;
        width: 13%;
    }
</style>

<table class="calend">

    @for (int r = 0; r < 5; r++)
    {
        <tr>
            @for (int d = 0; d < 7; d++)
            {
                if (daysCount < daysInMonth)
                {
                    daysCount++;
                }
                var modelItem = Model.Where(m => m.DayOfMonth == daysCount).ToList();

                <td>
                    @await Html.PartialAsync("~/Views/CalEvents/EventCalendView.cshtml", Utils.GetCalEventVm(modelItem, daysCount))
                </td>
            }
        </tr>
    }
</table>