@using DotNet8.Utils
@model IEnumerable<DotNet8.Models.CalEventVM>
@{
    ViewData["Title"] = "Index";
    var daysCount = 0;
    var daysInMonth = Utils.GetMaxDayOfTheMonth(DateTime.Now);
}

<div class="container-fluid">
    <div class="row row-calend">

        <main class="col-md-10">
            <table class="calendar">
                <thead>
                    <tr>
                        <th>Mon</th>
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thu</th>
                        <th>Fri</th>
                        <th>Sat</th>
                        <th>Sun</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int r = 0; r < 5; r++)
                    {
                        <tr>
                            @for (int d = 0; d < 7; d++)
                            {
                                if (daysCount == daysInMonth) daysCount = 0; // next mon.

                                daysCount++;
                                var modelItem = Model.Where(m => m.DayOfMonth == daysCount).ToList();

                                @* <td class="day"> *@
                                    @await Html.PartialAsync("~/Views/CalEvents/EventCalendView.cshtml", Utils.GetCalEventVm(modelItem, daysCount))
                                @* </td> *@
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </main>

        @* *** SIDEBAR *** *@

        <aside class="col-md-2 sidebar">
            <ul>
                <li>Aaaaaaa</li>
                <li>Aaaaaaa</li>
                <li>Aaaaaaa</li>
                <li>Aaaaaaa</li>
                <li>Aaaaaaa</li>
            </ul>
        </aside>

    </div>
</div>
