@using DotNet8.Utils
@model IEnumerable<DotNet8.Models.CalEventVM>
@{
    ViewData["Title"] = "Index";
    var daysCount = 0;
    var daysInMonth = Utils.GetMaxDayOfTheMonth(DateTime.Now);
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<style>
    .calend td {
        height: 100%;
        min-height: 100%;
        min-width: 13%;
        padding: .1rem;
        width: 13%;
    }

    .calend .aDay {
        background-color: aliceblue;
        border: solid 1px grey;
        height: 130px;
        margin:0;
        padding:0;
        width: 100%;
    }

        .calend .aDay .aDayDate {
            background-color: antiquewhite;
        }

        .calend .aDay .aDayItemLine {
            border: solid 1px red;
        }
</style>

<table class="calend" cellspacing="2">
    @for (int r = 0; r < 5; r++)
    {
        <tr>
            @for (int d = 0; d < 7; d++)
            {
                if (daysCount < daysInMonth)
                {
                    daysCount++;
                }
                var modelItem = Model.Where(m => m.DayOfMonth == daysCount).ToList();
                <td>
                    @await Html.PartialAsync("~/Views/CalEvents/EventCalendView.cshtml", Utils.GetCalEventVm(modelItem, daysCount))
                </td>
            }
        </tr>
    }
</table>