@using DotNet8.Utils
@model IEnumerable<DotNet8.Models.CalEventVM>
@{
    ViewData["Title"] = "Index";
    var daysCount = 0;
    var daysInMonth = Utils.GetMaxDayOfTheMonth(DateTime.Now);
}

<div class="create-act">
    <a asp-action="Create">Create New</a>
</div>

<table class="calend" cellspacing="2">
    @for (int r = 0; r < 5; r++)
    {
        <tr>
            @for (int d = 0; d < 7; d++)
            {
                if (daysCount == daysInMonth) daysCount = 0; // next mon.
                daysCount++;
                var modelItem = Model.Where(m => m.DayOfMonth == daysCount).ToList();

                <td>
                    @await Html.PartialAsync("~/Views/CalEvents/EventCalendView.cshtml", Utils.GetCalEventVm(modelItem, daysCount))
                </td>
            }
        </tr>
    }
</table>