:root {
    --borders-color: darkgray;
    --calend-another-month: rgb(223, 230, 230);
    --calend-today: rgb(255, 240, 155) !important;
    --calend-week: #ffe0b4;
    --calend-weekend: rgb(255, 204, 204);
    --calend-weekend-days: rgb(251, 228, 228);
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    font-family: 'Ubuntu', Arial, sans-serif;
    font-size: 14px;
    margin: 0;
}

header .navbar {
    padding-bottom: 0;
    padding-top: 0;
}

    header .navbar .nav-link {
    }

input[type='number']:read-only,
input[type='datetime-local']:read-only {
    text-align: center;
    color: darkgray;
}

/* ======== SIDEBAR ======== */
.sidebar > ul {
    background-color: antiquewhite;
}

/* ======== SPECIAL PAGES ======== */

.row-crud-page {
    margin: 2rem;
}

    .row-crud-page .form-group {
        margin-bottom: .5rem;
    }

.row-login-page {
    margin: 2rem 18rem;
}

.page-history {
    margin: 0 auto;
    max-width: 80%;
}

    .page-history .table tr {
        line-height: .7rem;
    }

.row-footer {
    padding: 1rem;
}

/* ======== CALENDAR ======== */

.row > main {
    margin-top: -12px;
}

.calendar {
    border-collapse: separate;
    margin-left: 1rem;
}

    .calendar th {
        background-color: var(--calend-week);
        font-weight: 600;
        font-size: 11px;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
    }

        .calendar th.today,
        .calendar th:nth-child(n+6).today {
            background-color: yellow;
        }

        .calendar th:nth-child(n+6) {
            background-color: var(--calend-weekend);
        }

    .calendar th, .calendar td {
        border: 1px solid var(--borders-color);
        border-radius: 5px;
        padding: 5px;
    }

    .calendar td {
        background-color: white;
        font-weight: 400;
        height: 120px;
        text-align: left;
        transition: all 0.3s;
        vertical-align: initial;
        width: 1%;
    }

        .calendar td:nth-child(n+6) {
            background-color: var(--calend-weekend-days);
        }

            .calendar td:nth-child(n+6).nextMon {
                background-color: var(--calend-another-month);
            }

.day {
    padding-top: 1.5rem;
    position: relative;
}

    .day .number a {
        float: right;
        font-size: 16px;
        font-weight: 500;
        padding-left: 3px;
        padding-right: 3px;
        position: absolute;
        right: 3px;
        top: 2px;
        text-decoration: none;
    }

    .day.nextMon {
        background-color: var(--calend-another-month);
    }

    .day.today {
        background-color: var(--calend-today);
    }

        .day.today .number a {
            border: 1px solid red;
            border-radius: 3px;
            color: red;
        }

.day-item-line {
    font-weight: 200;
    line-height: 17px;
    margin-bottom: .5rem;
    word-wrap: break-word;
}

    .day-item-line > a {
        color: black;
        text-decoration: none;
    }

.day-item-time {
    background-color: lightcyan;
}

.bday {
    color: hotpink;
    font-weight: 600;
}

/* ======== MEDIA-QUERIES ======== */

@media screen and (max-width: 768px) {

    body {
        font-size: 12px;
    }

    .navbar-toggler-icon {
        width: 1em;
        height: 1em;
    }

    .row > main {
        margin-top: -15px;
        padding-left: .1rem;
        padding-right: .1rem;
    }

    .row-login-page {
        margin: 2rem;
    }

    .sidebar > ul {
        padding-left: .7rem;
    }

    .main-content {
        padding: 0;
        width: 100%;
    }

    .container-fluid > .page-history {
        font-size: 12px;
        margin-left: -10px;
        margin-right: 0;
        min-width: 100%;
    }

    .calendar {
        border-collapse: collapse;
        margin: 0 auto;
    }

        .calendar td {
            height: 20px;
            padding: 5px;
        }

    .day .number {
        padding-left: 2px;
        padding-right: 2px;
        font-size: 14px;
        right: 2px;
        top: 1px;
    }
}

@media screen and (max-width: 500px) {

    .calendar th,
    .calendar td {
        padding: 3px;
        font-size: 12px;
    }

    div.number {
        font-size: 12px;
    }

    .today .number {
        font-weight: 600;
    }
}
