:root {
    --borders-color: darkgray;
    --calend-another-month: rgb(223, 230, 230);
    --calend-today: rgb(255, 240, 155) !important;
    --calend-week: #ffe0b4;
    --calend-weekend: rgb(255, 204, 204);
    --calend-weekend-days: rgb(251, 228, 228);
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    font-family: 'Ubuntu', Arial, sans-serif;
    font-size: 14px;
    margin: 0;
}

header .navbar {
    padding-bottom: 0;
    padding-top: 0;
}

/* ======== SIDEBAR ======== */

.sidebar > ul {
    background-color: antiquewhite;
    padding-left: 0;
}

/* ======== CRUD PAGES ======== */

.row-crud-page {
    margin: 2rem;
}

    .row-crud-page .form-group {
        margin-bottom: .5rem;
    }

/* ======== CALENDAR ======== */

.row > main {
    margin-top: -7px;
}

.calendar {
    border-collapse: separate;
    margin: 0 auto;
}

    .calendar th {
        background-color: var(--calend-week);
        font-weight: 600;
        font-size: 11px;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
    }

    .calendar th, .calendar td {
        border: 1px solid var(--borders-color);
        border-radius: 5px;
        padding: 5px;
    }

        .calendar th:nth-child(n+6) {
            background-color: var(--calend-weekend);
        }

        .calendar td:nth-child(n+6) {
            background-color: var(--calend-weekend-days);
        }

    .calendar td {
        background-color: white;
        font-weight: 400;
        height: 120px;
        text-align: left;
        transition: all 0.3s;
        vertical-align: initial;
        width: 1%;
    }

.day {
    padding-top: 1.5rem;
    position: relative;
}

div.number {
    color: rgb(0, 0, 166);
    float: right;
    font-size: 16px;
    font-weight: 500;
    padding-left: 3px;
    padding-right: 3px;
    position: absolute;
    right: 5px;
    top: 2px;
}

.day-item-line {
    font-weight: 200;
    line-height: 17px;
    margin-bottom: .8rem;
    word-wrap: break-word;
}

    .day-item-line > a {
        color: black;
        text-decoration: none;
    }

.day-item-time {
    background-color: yellow;
}

.today {
    background-color: var(--calend-today);
}

    .today .number {
        border: 1px solid red;
        border-radius: 3px;
        color: red;
        font-weight: 900;
    }

.bday {
    color: hotpink;
    font-weight: 600;
}

.day.nextMon {
    background-color: var(--calend-another-month);
}

/* ======== MEDIA-QUERIES ======== */

@media screen and (max-width: 768px) {

    .row > main {
        padding-left: .1rem;
        padding-right: .1rem;
    }

    .sidebar > ul {
        padding-left: .7rem;
    }

    .main-content {
        padding: 0;
        width: 100%;
    }

    .calendar {
        border-collapse: collapse;
    }

        .calendar td {
            height: 20px;
            padding: 5px;
        }
}

@media screen and (max-width: 500px) {

    .calendar th,
    .calendar td {
        padding: 3px;
        font-size: 12px;
    }

    div.number {
        font-size: 12px;
    }

    .today .number {
        font-weight: 600;
    }
}
