:root {
    --borders-color: darkgray;
    --calend-another-month: rgb(223, 230, 230);
    --calend-today: rgb(255, 240, 155) !important;
    --calend-week: #ffe0b4;
    --calend-weekend: rgb(255, 204, 204);
    --calend-weekend-days: rgb(251, 228, 228);
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    font-family: 'Ubuntu', Arial, sans-serif;
    font-size: 14px;
    margin: 0;
}

header .navbar {
    padding-bottom: 0;
    padding-top: 0;
}

input[type='number']:read-only,
input[type='datetime-local']:read-only {
    text-align: center;
    color: darkgray;
}

.evnts-cntr,
.evnts-cntr > a {
    color: black;
    cursor: default;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

/* ======== SIDEBAR ======== */

.sidebar > ul {
    background-color: antiquewhite;
    margin-right: 1rem;
    padding: 1rem 1rem 1rem 1.5rem;
}

/* ======== SPECIAL PAGES ======== */

.row-crud-page {
    margin: 2rem;
}

    .row-crud-page .form-group {
        margin-bottom: .5rem;
    }

.row-login-page {
    margin: 2rem 18rem;
}

.page-history {
    margin: 0 auto;
    max-width: 80%;
}

    .page-history .table tr {
        line-height: .7rem;
    }

.row-footer {
    padding: .5rem;
}

.row > main {
    margin-top: -12px;
}


/* ======== MEDIA-QUERIES ======== */

@media screen and (max-width: 768px) {

    body {
        font-size: 12px;
    }

    .navbar-toggler-icon {
        width: 1em;
        height: 1em;
    }

    .row > main {
        margin-top: -15px;
        padding-left: .1rem;
        padding-right: .1rem;
    }

    .row-login-page {
        margin: 2rem;
    }

    .sidebar > ul {
        padding-left: .7rem;
    }

    .main-content {
        padding: 0;
        width: 100%;
    }

    .container-fluid > .page-history {
        font-size: 12px;
        margin-left: -10px;
        margin-right: 0;
        min-width: 100%;
    }
}
