@model IEnumerable<Calendarium.Models.CalEvent>

@{
    var firstEvent = Model?.FirstOrDefault();
    var month = firstEvent?.Started.Month;
    var day = firstEvent?.Started.Day;
}

<div class="number">
    <a asp-action="Create" asp-route-id="@day" asp-route-month="@month">@day</a>
</div>

<div>&nbsp;</div>

@if (Model != null)
{
    foreach (var dayItem in Model)
    {
        <div class="day-item-line">

            <a asp-action="Edit" asp-route-id="@dayItem?.Id">

                @if (dayItem?.Time != null && (dayItem.Time.Hours != 0 || dayItem.Time.Minutes != 0))
                {
                    <span class="day-item-time">
                        @dayItem.Time.ToString(@"hh\:mm")
                    </span>
                    <span> - </span>
                }
                @dayItem?.Description

            </a>

        </div>
    }
}
