@model IEnumerable<DotNet8.Models.RequestHeaderField>

<div class="container-fluid">
    <div class="page-history">
        <table class="table">
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Field)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Text)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>